.panel.panel-default.row(ng-controller='productListController', ng-hide='data.error')
	.col-xs-3
		a.btn.btn-block.btn-default.btn-lg(ng-click='selectCategory()') Home
		a.btn.btn-block.btn-default.btn-lg(
		ng-click='selectCategory(item)'
		ng-class='getCategoryClass(item)'
		ng-repeat="item in data.products | orderBy:'category' | unique:'category'")
			|{{item}}
	.col-xs-8
		.well(ng-repeat='item in data.products | filter:categoryFilterFn | range:selectedPage:pageSize')
			h3
				strong {{item.name}}
				span.pull-right.label.label-primary {{item.price | currency}}
			button.btn.btn-success.pull-right(ng-click='addProductToCart(item)') Add to cart
			span.lead {{item.description}}
		.pull-right.btn-group
			a.btn.btn-default(
			ng-repeat='page in data.products | filter:categoryFilterFn | pageCount:pageSize'
			ng-click='selectPage($index + 1)'
			ng-class='getPageClass($index + 1)')
				|{{$index + 1}}
